.section
{
    height: 200px;
    background-color: aqua;
    width: 200px;
    overflow:hidden;
    margin: 0px auto;
    border-radius: 50%;
}
.section img{
    width: 100%;
}
.footer
{
    min-height: 300px;
}
.footer img{
    height: 100px;;
}
.smi
{
    list-style-type: none;
}
.smi li{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 50%;
}
//body
{
    background-color:#0dcaf0;
}